{% include 'blocks/header.twig' %}

<div><a href="/health-check">health-check</a></div>
<div><a href="/api/docs">api docs (swagger)</a></div>
<div><a href="/test">test</a></div>
<div><a href="/upload">upload</a></div>
{#<input id="message">#}
{#<button id="send">send</button>#}
{#<div class="log"></div>#}

{% include 'blocks/footer.twig' %}
